# URL de base de l'API Backend PHP (sous XAMPP Apache)
API_URL=http://localhost/personnel/gestions-caisse1/backend/api
VITE_API_URL=http://localhost/personnel/gestions-caisse1/backend/api
VITE_API_BASE_URL=http://localhost/personnel/gestions-caisse1/backend/api
